@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #000000 0%, #575757 43%, #808080 48.62%, #941530 63.68%);
  -webkit-background-clip: text;
  color: transparent;
}

.shadowButton {
  box-shadow: 0px 1px 6.6px 0px #00000040;
}

.shadowBox {
  box-shadow: 0px 1px 6.6px 0px #00000040;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
  .shaded-edges{
    mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
  }
}