@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #000000 0%, #575757 43%, #808080 48.62%, #941530 63.68%);
  -webkit-background-clip: text;
  color: transparent;
  

}
.shadowButton{box-shadow: 0px 1px 6.6px 0px #00000040;
}
.shadowBox{
  box-shadow: 0px 1px 6.6px 0px #00000040;

}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: 'Libre Franklin', sans-serif;
}